<div class="replace-tab">
	<span class="replace-tab-item active">1</span>
	<span class="replace-tab-item">2</span>
	<span class="replace-tab-item">3</span>
</div>
<div class="replace-question">
	<div class="replace-question-info">
		<p>题号ID：2564856</p>
		<p>难度：<i class="icon degree2"></i></p>
		<p>标题：2012届江苏连云港东海平明镇中学</p>
	</div>
	<div class="replace-question-content">
		<div class="replace-item-question">【题文】北京2008年第29届奥运会火炬接力活动历时130天，传递总里程月13.7万千米。传递总里程用科学记数法表示为（ &nbsp;）</div>
		<div class="replace-item-answer clearfix">
			<div class="replace-answer-choice">A. 
				<div class="math-formula">
					1.37×10千米
				</div>
			</div>
			<div class="replace-answer-choice">B. 
				<div class="math-formula">
					1.37×10<span class="topSub">5</span>千米
				</div>
			</div>
			<div class="replace-answer-choice">C. 
				<div class="math-formula">
					1.37×10<span class="topSub">4</span>千米
				</div>
			</div>
			<div class="replace-answer-choice">D. 
				<div class="math-formula">
					13.7×10<span class="topSub">4</span>千米
				</div>
			</div>
		</div>
	</div>
</div>
<div class="replace-confirm">
	<div class="btn-wrapper">
		<div class="btn-content">
			确定替换
		</div>
	</div>
</div>