<div class="paperAnalysis-hd">
	<p class="paperAnalysis-title">2013-2014学年度？？？学校12月月考卷</p>
	<p class="paperAnalysis-title">试卷副标题</p>
</div>
<div class="paperAnalysis-content">
	<table class="paperAnalysis-total">
		<thead>
			<th>按题型统计(总题数：9题)</th>
			<th>按难易统计(总体难度：0.56)</th>
		</thead>
		<tbody>
			<tr>
				<td class="totalByType">选择题<span class="t"></span>6题(66.7%)</td>
				<td class="totalByDifficulty">容易题<span class="t"></span>1题(11.1%)</td>
			</tr>
			<tr>
				<td class="totalByType">综合题<span class="t"></span>6题(66.7%)</td>
				<td class="totalByDifficulty">较易题<span class="t"></span>0题</td>
			</tr>
			<tr>
				<td></td>
				<td class="totalByDifficulty">一般题<span class="t"></span>1题(11.1%)</td>
			</tr>
			<tr>
				<td></td>
				<td class="totalByDifficulty">较难题<span class="t"></span>1题(11.1%)</td>
			</tr>
			<tr>
				<td></td>
				<td class="totalByDifficulty last">困难题<span class="t"></span>1题(11.1%)</td>
			</tr>
		</tbody>
	</table>
	<table class="paperAnalysis-questions">
		<thead>
			<th>序号</th>
			<th>题型及难度</th>
			<th>标题及知识点分类</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><p>选择题</p><i class="icon degree5"></i></td>
				<td class="paperAnalysis-points">
					<a class="paperAnalysis-paper-title" href="#1">2014届辽宁实验中学分校高三上期期中考试生物卷（带答案）</a>
					<p class="paperAnalysis-paper-point">高中生物综合库》细胞代谢》呼吸作用</p>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td><p>选择题</p><i class="icon degree5"></i></td>
				<td class="paperAnalysis-points">
					<a class="paperAnalysis-paper-title" href="#2">2014届辽宁实验中学分校高三上期期中考试生物卷（带答案）</a>
					<p class="paperAnalysis-paper-point">高中生物综合库》细胞代谢》呼吸作用</p>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td><p>选择题</p><i class="icon degree5"></i></td>
				<td class="paperAnalysis-points">
					<a class="paperAnalysis-paper-title" href="#2">2014届辽宁实验中学分校高三上期期中考试生物卷（带答案）</a>
					<p class="paperAnalysis-paper-point">高中生物综合库》细胞代谢》呼吸作用</p>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td><p>选择题</p><i class="icon degree5"></i></td>
				<td class="paperAnalysis-points">
					<a class="paperAnalysis-paper-title" href="#2">2014届辽宁实验中学分校高三上期期中考试生物卷（带答案）</a>
					<p class="paperAnalysis-paper-point">高中生物综合库》细胞代谢》呼吸作用</p>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td><p>选择题</p><i class="icon degree5"></i></td>
				<td class="paperAnalysis-points">
					<a class="paperAnalysis-paper-title" href="#2">2014届辽宁实验中学分校高三上期期中考试生物卷（带答案）</a>
					<p class="paperAnalysis-paper-point">高中生物综合库》细胞代谢》呼吸作用</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>