<div class="paperSetting-item">
	<div class="left marker">
		绝密标记
	</div>
	<div class="marker-content clearfix">
		<div class="paperSetting-radio">
			<label class="paperSetting-radio-text"><input type="radio" name="markerDisplay">显示</label>
			<label class="paperSetting-radio-text"><input type="radio" name="markerDisplay">不显示</label>
		</div>
		<div class="paperSetting-text">
			<label class="paperSetting-text-title" for="markerContent">文本</label><input class="paperSetting-text-input" type="text" name="markerContent" value="绝密★启用前"><i class="icon closeGray"></i>
		</div>
	</div>
</div>