<div class="paperSetting-item" ng-repeat="i in previewSideBar.items.title">
	<div class="marker">
		{{i.name}}
	</div>
	<div class="marker-content">
		<div class="paperSetting-radio">
			<label class="paperSetting-radio-text"><input type="radio" ng-model="i.shown" ng-value="true">显示</label>
			<label class="paperSetting-radio-text"><input type="radio" ng-model="i.shown" ng-value="false">不显示</label>
		</div>
		<div class="paperSetting-text" ng-if="i.writable">
			<label class="paperSetting-text-title" for="markerContent">文本</label><input class="paperSetting-text-input" type="text" name="markerContent" ng-model="i.content" ng-value="i.content"><i class="icon closeGray" ng-click="i.content = null"></i>
		</div>
	</div>
</div>