<div class="paperContent-sideBar" ng-if="previewSideBar.showItems('line').shown">
	<div class="paperContent-gutter">
		…………o…………外…………o…………装…………o…………订…………o…………线…………o…………
	</div>
	<div class="paperContent-sideBar-content">
		<div class="paperContent-sideBar-content-wrapper">
			<span class="paperContent-sideBar-title">学校：</span>_____________
			<span class="paperContent-sideBar-title">姓名：</span>_____________
			<span class="paperContent-sideBar-title">班级：</span>_____________
			<span class="paperContent-sideBar-title">考号：</span>_____________
		</div>
	</div>
	<div class="paperContent-gutter">
		…………o…………内…………o…………装…………o…………订…………o…………线…………o…………
	</div>
</div>
<div class="paperContent-content">
	<div class="paperContent-hd clearfix">
		<p class="paperContent-lable" ng-if="previewSideBar.showItems('secret').shown">{{previewSideBar.showItems('secret').content}}</p>
		<div class="paperContent-paperHead">
			<h2 class="paperContent-title" ng-if="previewSideBar.showItems('mainTitle').shown">{{previewSideBar.showItems('mainTitle').content}}</h2>
			<h2 class="paperContent-title" ng-if="previewSideBar.showItems('subTitle').shown">{{previewSideBar.showItems('subTitle').content}}</h2>
			<p class="paperContent-info" ng-if="previewSideBar.showItems('paperInfo').shown">{{previewSideBar.showItems('paperInfo').content}}</p>
			<p class="paperContent-info" ng-if="previewSideBar.showItems('stuInput').shown">学校：____________姓名：____________班级：____________考号：____________</p>
			<table class="paperContent-hd-score" ng-if="previewSideBar.showItems('points').shown">
				<tr>
					<th>题号</th>
					<th>一</th>
					<th>二</th>
					<th>三</th>
					<th>四</th>
					<th>五</th>
					<th>六</th>
					<th>七</th>
					<th>八</th>
					<th>九</th>
					<th>总分</th>
				</tr>
				<tr>
					<td>得分</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
		<div  class="paperContent-tips" ng-if="previewSideBar.showItems('attention').shown">
			<p>注意事项：</p>
			<p>{{previewSideBar.showItems('attention').content}}</p>
		</div>
	</div>
	<div class="paperContent-container">
			<div class="paperContent-container-hd">
				<div class="paperContent-container-operation">
					<a><i class="icon addFile"></i>添加新题型</a>
					<a ng-click="paperPreview.paperSetting()"><i class="icon setting"></i>设置</a>
				</div>
			</div>
			<div class="paperContent-questionType">
				<div class="paperContent-questionType-hd">
					<table class="paperContent-questionType-score left">
						<tr>
							<th>评卷人</th>
							<th>得 分</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
						</tr>
					</table>
					<span class="paperContent-questionType-title">一. 选择题{注释}</span>
					<div class="paperContent-container-operation">
						<a href="#"><i class="icon clean"></i>清空</a>
						<a href="#"><i class="icon deleteWhite"></i>删除</a>
						<a href="#"><i class="icon setting"></i>设置</a>
						<a href="#"><i class="icon up"></i>上移</a>
						<a href="#"><i class="icon down"></i>下移</a>
					</div>
				</div>
				<ul class="paperContent-question">
					<li class="paperContent-item-wrapper" ng-mouseover="operate=true" ng-mouseleave="operate=false">
						<div class="paperContent-item-operation" ng-class="{hide: !operate}">
							<a href="#"><i class="icon addFile"></i>详细</a>
							<a ng-click="paperPreview.replaceQuestion()"><i class="icon replace"></i>替换</a>
							<a href="#"><i class="icon deleteWhite"></i>删除</a>
							<a href="#"><i class="icon up"></i>上移</a>
							<a href="#"><i class="icon down"></i>下移</a>
						</div>
						<div class="paperContent-item">
							<div class="paperContent-item-question">已知四个式子：
								(1)
								<div class="math-formula">
									|-<div class="fraction">
										<div class="fraction-top">3</div>
										<div class="fraction-bottom">5</div>
									</div>-<div class="fraction">
										<div class="fraction-top">4</div>
										<div class="fraction-bottom">7</div>
									</div>|
								</div>；
								(2)
								<div class="math-formula">
									|-<div class="fraction">
										<div class="fraction-top">3</div>
										<div class="fraction-bottom">5</div>
									</div>|-|-<div class="fraction">
										<div class="fraction-top">4</div>
										<div class="fraction-bottom">7</div>
									</div>|
								</div>；
								(3)
								<div class="math-formula">
									-<div class="fraction">
										<div class="fraction-top">3</div>
										<div class="fraction-bottom">5</div>
									</div>-|-<div class="fraction">
										<div class="fraction-top">4</div>
										<div class="fraction-bottom">7</div>
									</div>|
								</div>；
								(4)
								<div class="math-formula">
									-<div class="fraction">
										<div class="fraction-top">3</div>
										<div class="fraction-bottom">5</div>
									</div>-(-<div class="fraction">
										<div class="fraction-top">4</div>
										<div class="fraction-bottom">7</div>
									</div>)
								</div>
							，它们的值从小到大的顺序是（ &nbsp; ）。</div>
							<div class="paperContent-item-answer clearfix">
								<div class="paperContent-answer-wrapper left">
									<span class="paperContent-answer-choice">A. (4)&lt;(3)&lt;(2)&lt;(1)</span>
									<span class="paperContent-answer-choice">B. (3)&lt;(4)&lt;(2)&lt;(1)</span>
								</div>
								<div class="paperContent-answer-wrapper left">
									<span class="paperContent-answer-choice">C. (2)&lt;(4)&lt;(3)&lt;(1)</span>
									<span class="paperContent-answer-choice">D. (3)&lt;(2)&lt;(4)&lt;(1)</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
</div>