<div class="user-sideBar">
	<div class="sideBar-sort paper active">
		<div class="sideBar-sort-wrapper">
			<div class="sideBar-sort-title"><i class="content-icon"></i>我的试卷</div>
		</div>
		<a href="#/user-hub/saved" class="sideBar-item active">存档记录</a>
		<a href="#/user-hub/downloaded" class="sideBar-item">下载记录</a>
	</div>
	<div class="sideBar-sort collection">
		<div class="sideBar-sort-wrapper">
			<div class="sideBar-sort-title"><i class="content-icon"></i>我的收藏夹</div>
		</div>
		<a href="#/user-hub/question" class="sideBar-item">试题</a>
		<a href="#/user-hub/paper" class="sideBar-item">试卷</a>
	</div>
</div>
<div class="user-container" ng-include="hubContent"></div>