<div class="cartBar"></div>
<div class="user-hub-sortBar-wrapper" ng-include="views.sortBarPath"></div>
<div class="hub-content record">
	<div class="hub-content-total">共<span ng-bind="totalNum"></span>条记录</div>
	<table class="record-table">
		<thead>
			<tr class="record-table-header">
				<th class="record-table-time">时间</th>
				<th class="record-table-title">试卷标题</th>
				<th class="record-table-operation">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr class="record-table-item">
				<td class="record-table-time">2013-05-02</td>
				<td class="record-table-title"><a href="#" class="record-paperTitle">2013年XXXX中学高三年级高考一模</a></td>
				<td class="record-table-operation">
					<a href="#"><i class="icon view"></i>预览</a>
					<a href="#"><i class="icon download"></i>下载</a>
					<a href="#"><i class="icon delete"></i>删除</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>