<div class="sortBar">
	<div class="sortByTime left">
		<span class="sortByTime-title">筛选：</span>
		<a href="#" class="sortByTime-choice">今天</a>
		<a href="#" class="sortByTime-choice">昨天</a>
		<a href="#" class="sortByTime-choice">本月</a>
		<a href="#" class="sortByTime-choice">本周</a>
		<a href="#" class="sortByTime-choice active">全部</a>
	</div>
	<div class="sortBar-search right">
		<input class="sortBar-search-input"/>
		<a class="sortBar-search-icon"><i class="icon search"></i></a>
	</div>
</div>