<div class="user-sideBar">
	<div class="sideBar-sort active">
		<div class="sideBar-sort-wrapper">
			<div class="sideBar-sort-title"><i class="icon side-file"></i>我的试卷</div>
		</div>
		<a href="#/user-hub/saved" class="sideBar-item saved active">存档记录</a>
		<a href="#/user-hub/downloaded" class="sideBar-item downloaded">下载记录</a>
	</div>
	<div class="sideBar-sort">
		<div class="sideBar-sort-wrapper">
			<div class="sideBar-sort-title"><i class="icon side-collection"></i>我的收藏夹</div>
		</div>
		<a href="#/user-hub/question" class="sideBar-item question">试题</a>
		<a href="#/user-hub/paper" class="sideBar-item paper">试卷</a>
	</div>
</div>
<div class="user-container" ng-include="hubContent"></div>