<div class="cartBar"></div>
<div class="user-hub-sortBar-wrapper" ng-include="sortBarPath"></div>
<div class="hub-content collection">
	<div class="hub-content-total">共<span ng-bind="totalNum"></span>道</div>
	<div class="collection-content">
		<div class="collection-item">
			<div class="collection-item-operation">
				<a href="#"><i class="icon view-white"></i>浏览</a>
				<a href="#"><i class="icon decCollection"></i>取消收藏</a>
			</div>
			<div class="collection-paper">
				<span class="paper-info">【题号：<span class="paper-info-id">23456</span>】 </span><a href="#" class="collection-paper-title">2013年全国统一考试</a>
			</div>
		</div>
		<div class="pagenation"></div>
	</div>
</div>