<div class="sortBar">
	<div class="sortBy left">
		<span class="sortBy-title">筛选：</span>
		<span class="sortByTime-choice" ng-repeat="item in userView.sort" ng-click="pagination.search(views.limitTime = views.filterTime[item.id])" ng-class="{active: views.limitTime == views.filterTime[item.id]}">{{item.name}}</span>
	</div>
	<div class="sortBar-search right">
		<input type="text" class="sortBar-search-input" ng-model="views.search" ng-change="pagination.search()"/>
		<a class="sortBar-search-icon"><i class="icon search"></i></a>
	</div>
</div>