<div class="cartBar">
	<div class="cart right">
		<a class="cart-title"><i class="icon basket"></i> 试题篮 <i class="icon arrow-down"></i></a>
	</div>
	<a class="cart-view right"><i class="icon eye"></i>预览试卷</a>
</div>
<div class="sortBar">
	<div class="sortByTime left">
		<span class="sortByTime-title">筛选：</span>
		<a href="#" class="sortByTime-choice">今天</a>
		<a href="#" class="sortByTime-choice active">昨天</a>
	</div>
	<div class="sortBar-search right">
		<input class="sortBar-search-input"/>
		<a class="sortBar-search-icon"><i class="icon search"></i></a>
	</div>
</div>
<div class="hub-content collection">
	<div class="collection-total">共2589道</div>
	<div class="collection-content">
		<div class="collection-item">
			<div class="question-operation">
				<a href="#"><i class="icon backet"></i>移出试题篮</a>
				<a href="#"><i class="icon file"></i>详细</a>
				<a href="#"><i class="icon collection"></i>取消收藏</a>
			</div>
			<div class="question-info">
				<p>【题号123456】 来源：北京市翠微中学高二期末测试卷</p>
				<p>关联知识点：集合的概念 | 难度：<i class="icon difficulty"></i> |年份：2010 |</p>
			</div>
			<div class="question-content">
				<div class="question-title">已知整数</div>
				<div class="question-answer">
					<span class="question-answer-choice">A. -1005</span>
					<span class="question-answer-choice">B. -1006</span>
					<span class="question-answer-choice">C. -1007</span>
					<span class="question-answer-choice">D. -1008</span>
				</div>
			</div>
		</div>
		<div class="collection-item">
			<div class="question-operation">
				<a href="#"><i class="icon backet"></i>移出试题篮</a>
				<a href="#"><i class="icon file"></i>详细</a>
				<a href="#"><i class="icon collection"></i>取消收藏</a>
			</div>
			<div class="question-info">
				<p>【题号123456】 来源：北京市翠微中学高二期末测试卷</p>
				<p>关联知识点：集合的概念 | 难度：<i class="icon difficulty"></i> |年份：2010 |</p>
			</div>
			<div class="question-content">
				<div class="question-title">已知整数</div>
				<div class="question-answer">
					<span class="question-answer-choice">A. -1005</span>
					<span class="question-answer-choice">B. -1006</span>
					<span class="question-answer-choice">C. -1007</span>
					<span class="question-answer-choice">D. -1008</span>
				</div>
			</div>
		</div>
		<div class="pagenation"></div>
	</div>
</div>