<!DOCTYPE html>
<html lang="en" ng-app='system' ng-controller="systemCtrl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> {{views.title}} | 万方在线组卷系统</title>
	<link rel="stylesheet" type="text/css" href="Content/Css/common.css">
	<link rel="stylesheet" type="text/css" href="Content/Css/system.css">
	<link rel="Shortcut Icon" href="Content/Images/favicon.ico"/>
	<script type="text/javascript" src="Scripts/angular.min.js"></script>
	<script type="text/javascript" src="Scripts/angular-route.min.js"></script>
	<script type="text/javascript" src="Scripts/common.js"></script>
</head>
<body>
	<div class="header">
		<div ng-include="'partials/header.html'"></div>
		<div class="hd-tab">
			<div class="hd-course-wrapper left" ng-init="ovh=true" ng-class="{overflowHidden:ovh}" ng-mouseleave="ovh=true">
				<a class="system-course-active" ng-click="ovh=!ovh">{{views.nowCourse}}<i class="icon arrowDown"></i></a>
				<ul class="system-courseList junior" ng-click="views.changeNowCourse($event)">
					<li class="system-courseList-item" ng-repeat="i in views.courses">初中{{i.course}}</li>
				</ul>
				<ul class="system-courseList senior" ng-click="views.changeNowCourse($event)">
					<li class="system-courseList-item" ng-repeat="i in views.courses">高中{{i.course}}</li>
				</ul>
			</div>
			<div class="hub-wrapper left">
				<div class="hd-btn-wrapper" ng-repeat="h in views.hubs">
					<a href="#/{{h.id}}-hub" class="hub {{h.id}}" ng-class=" {active: views.isActiveHub(h)}">{{h.name}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container" ng-view></div>
</body>
</html>