html,body,.container{
	height: 100%;
}
body{
	position: relative;
	margin: 0;
	border: none;
	font-family: "微软雅黑",sans-serif;
}
p{
	margin: 0;
	color: #666;
	line-height: 150%;
	word-wrap: break-word;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
table{
	border-collapse: collapse;
}
.header{
	position: fixed;
	height: 66px;
	width: 100%;
	min-width: 960px;
	background-color: #32425c;
	z-index: 9;
}
.header-bottom{
	height: 2px;
	background-color: #405373;
	border-top: solid 1px #2c3b53;
	border-bottom: solid 1px #2c3b53;
	clear: both;
}
.container{
	font-size: 12px;
	color: #666;
}
.footer{
	padding-top: 1px;
	background-color: #fff;
	border-top: solid 1px #eaeaea;
	text-align: center;
}
.footer .wrapper{
	padding: 10px;
	height: 60px;
	background-color: #f6f8f8;
}
.t{
	padding: 0 6px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix{
	*zoom: 1;
}
.hide{
	display: none !important;
}
.shown{
	display: block !important;
}
.overflowHidden{
	overflow: hidden;
}

.title{
	font-size: 18px;
}
.title.big, .hd-indexLink{
	font-size: 24px;
	color: #fff;
}

.hd-title{
	margin: 0 15px;
}
.hd-indexLink{
	line-height: 62px;
}
.hd-btn{
	display: block;
	height: 57px;
	line-height: 52px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.hd-btn-wrapper{
	float: inherit;
	border-left: solid 1px #3e5171;
	border-right: solid 1px #283449;
}
.hd-user{
	font-size: 14px;
}
.hd-user .logOut{
	float: right;
	padding: 0 14px;
	border-top: solid 5px #ce616e;
}
.hd-user .logOut:hover, .hd-user .logOut:focus{
	background-color: #ce616e;
}
.hd-user .user-info{
	float: right;
	height: 62px;
	line-height: 62px;
	color: #a8d5ff;
}
.hd-user .user-info a{
	color: #a8d5ff;
}
.hd-user .user-info .wrapper{
	float: right;
	padding-right: 10px;
	border-right: solid 1px #283449;
}

.mask{
	height: 100%;
	width: 100%;
	top:0;
	background-color: #fff;
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}
.dialog{
	position: absolute;
	background-color: #fff;
	border: solid 1px #6584b3;
}
.dialog-wrapper{
	z-index:9;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}
.dialog-title{
	padding: 0 5px 0 16px;
	height: 33px;
	line-height: 30px;
	background-color: #6584b3;
	color: #fff;
	font-size: 14px;
}
.closeWrapper{
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	height: 22px;
	cursor: pointer;
}
.closeWrapper:hover{
	background-color: #CF606E;
}
.close{
	width: 21px;
	height: 21px;
}

.index-pic{
	display: inline-block; background: url('../Images/index.png') no-repeat;
}
.logo {
	background-position: -259px -482px; 
	width: 28px; 
	height: 28px; 
	margin-right: 7px;
	vertical-align: -6px;
}
.close { background-position: -287px -482px; width: 21px; height: 21px; }
.user-default {
	background-position: -308px -482px; 
	width: 12px; 
	height: 12px; 
	margin-right: 6px;
}